body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    padding: 30px;
}

h1 {
    color: olive;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h2 {
    color: darkslategrey;
    padding: 15px;
}

h3 {
    color: darkolivegreen;
}

nav ul {
    color: darkolivegreen;
}

.form-control {
    max-width: 80%;
}

.form-select {
    max-width: 80%;
}

.button {
    border-radius: 12px;
    padding-top: 20px;
}

button:hover {
    background-color:darkolivegreen;
    transition: .3s ease all;
}

.content {
    display: flex;
    align-items: flex-start;
}

img {
    border-radius: 50%;
    /*max-width: 200px; 
    height: 100px;*/
    padding-left: 110px;
    padding-bottom: 20;

}

.contentInfo {
    padding-left: 170px;
    padding-top: 20px;
}

.contenth1 {
    padding-left: 15px;
    padding-top: 15px;
}
.contentth2 {
    padding-left: 15px;
    padding-top: 15px;
}
.table-container {
    max-width: 80%; 
   /* margin: 0 auto; */
}

.list-group-item {
    max-width: 80%;
}

footer {
    text-align: center;
    padding-top: 20px;
}

.card {
    max-width: 80%;
}

.card-title {
    font-weight: normal;
    font-size: 18px;
}

.mt-4 {
    font-size: 18px;
}

.form-check-label {
    font-size: 18px;
}